
## Common Responses

{{#responses}}

### {{&code}}

{{&description}}

#### Error Codes

{{#errorCodes}}
{{&code}} - {{&description}}
{{/errorCodes}}

{{/responses}}

### Error Response Body

~~~javascript
{{&exampleBody}}
~~~
